/* 3-4 Offer Section */
.offer{
    
}
.offer_content{
    overflow: hidden;
}
.offer_item{
    width: 30%;
    margin-bottom: 48;
    float: left;    
    text-align: left;
    border: 1px solid #e8e8e8;
    padding: 30 15 30 70;
    position: relative;
}
.offer_item.mg{
    margin: 0 5%;
}
.offer_item .icon{
    position: absolute;
    top: 20;
    left: 20;
    color: #6195ff;
}
.offer_item_title{
    text-transform: capitalize;
    padding-bottom: 20;
    transition: .5s;
}
.offer_item_desc{
    line-height: 1.6;
    color: #999;
}